


/* 
const[borrowerId,setborrowerId]=useState("34eb4cdf-55a7-4b04-8d84-d4e6f42971e1");
const[dealId,setdealId]=useState("34eb4cdf-55a7-4b04-8d84-d4e6f42971e1");
const[dealNumber,setdealNumber]=useState("OXYD20233000002");
const[emiInterest,setemiInterest]=useState(3);
const[emiType,setemiType]=useState("EMI");
const[endDate,setendDate]=useState("2023-04-15T07:38:08.838Z");
const[firstInterestpaidDate,setfirstInterestpaidDate]=useState("2023-04-15");
const[lenderId,setlenderId]=useState("09ba9921-eafe-4399-8189-f58b1b12777d");
const[interestRate,setinterestRate]=useState(3);
const[participationDate,setparticipationDate]=useState("2023-04-15");
const[principalAmount,setprincipalAmount]=useState(40000);
const[tenure,settenure]=useState(2);
const[userId,setuserId]=useState("");      */



/* .contai{
    height: 100% !important;
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
   scroll-behavior: auto !important;
   background-color: blanchedalmond;
} */

/* #root{
    scroll-behavior: smooth !important;
    height: 100% !important;
    width: 100% !important;
  } */

/* .container{
  
  background-color: rgb(215, 210, 210);
  font-size: 13px !important;
} */



  